<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tianqi Gao</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/roseIcon.png">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/application.css">
  </head>
  <body>
    <div class="outer-container">
      <div class="inner-container">
		<p>惟有极其精巧和纯粹的灵魂才可能以享受的方式拥有客体；<p>
		<p>它是如此的丰富，因而足以依靠自己最本真的内在性来生存，<p>
		<p>而不是让感觉超越灵魂的界限。<p>
		<p>————Georg Simmel<p>
        <ul class="elsewhere">
			<li class="elsewhere__item"><a href="{{ "/" | home }}">Home</a></li>
			<li class="elsewhere__item"><a href="{{ "/articles" | articles }}">Articles</a></li>
			<li class="elsewhere__item"><a href="{{ "/about" | about }}">About</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
